*{
  margin: 0;
  padding: 0;
  font-family: gilroy;
  color: white;
}

html, body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #000;
}

button{
  background-color: cyan;
  padding: 5px 10px;
  color: black;
}